<html>
  <head></head>
  <body>
    <div class="container">
      <h1>검색결과</h1>
      <p>인크루트, 잡코리아에서 검색한 결과입니다.</p>
      <a href="/file">
        <button>csv 다운로드</button>
      </a>
    </div>

    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>회사</th>
          <th>공고제목</th>
          <th>지역</th>
        </tr>
      </thead>
      <tbody>
        {% for i in jobs %}
        <tr>
          <td>{{ i + 1 }}</td>
          <td>회사</td>
          <td>공고제목</td>
          <td>지역</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
